.users-section{
    .heading{
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        margin: 6rem 0 2rem 0;
        letter-spacing: 3px;
    }
    .user-container{
        a{
            color:inherit;
        }
    
        .card-title{
            font-size: 2.5rem !important;
            margin-bottom: 0 !important;
        }
        .date{
            color: gray;
            font-weight: bold;
            margin-left: 5px !important;
        }
        .data{
            margin-top: 5px !important;
            margin-left: 5px !important;
        }
        .card-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                font-size: 2.7rem;
            }
        }

    }

}